In [1]:
import pandas as pd

In [51]:
def data_summary(dataset):
    print("----------Null Values----------\n", cpi.isnull().sum())
    print("\n----------Duplicate Values----------\n", cpi.duplicated().sum())

    for column in dataset.columns:
        unique_values = dataset[column].unique()
        print(f"\nUnique values in column '{column}': {unique_values}")

## Import Datasets and Preview Data

In [44]:
cpi_url = "https://raw.githubusercontent.com/laurgu/CSI-4124-Term-Project/Part2/Datasets/CPI.csv"
sales_url = "https://raw.githubusercontent.com/laurgu/CSI-4124-Term-Project/Part2/Datasets/CarSales.csv"
features_url = "https://raw.githubusercontent.com/laurgu/CSI-4124-Term-Project/Part2/Datasets/CarFeatures.csv"

cpi = pd.read_csv(cpi_url)
sales = pd.read_csv(sales_url)
features = pd.read_csv(features_url)

In [18]:
cpi.head()

cpi = cpi.rename(columns={'CPIAUCSL': 'CPI'})
cpi.head()

         DATE    CPI
0  1947-01-01  21.48
1  1947-02-01  21.62
2  1947-03-01  22.00
3  1947-04-01  22.00
4  1947-05-01  21.95

In [39]:
sales.head()

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville

In [20]:
features.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Preprocess CPI Dataset

Check if the dataset has any null or duplicate values.

In [52]:
print("CPI Null Values\n", cpi.isnull().sum())
print("\nCPI Duplicate Values\n", cpi.duplicated().sum())

CPI Null Values
 DATE        0
CPIAUCSL    0
dtype: int64

CPI Duplicate Values
 0

This dataset has no null or duplicate values.

Split "DATE" column into "Year", "Month", "Day" columns and cast these values into ints. Cast the cpi value to a float.

In [27]:
cpi[['Year', 'Month', 'Day']] = cpi['DATE'].str.split('-', expand=True)
cpi.drop(['DATE'], axis=1, inplace=True)
cpi[['Year', 'Month', 'Day']] = cpi[['Year', 'Month', 'Day']].astype(int)
cpi['CPI'] = cpi['CPI'].astype(float)
cpi.head()

     CPI  Year  Month  Day
0  21.48  1947      1    1
1  21.62  1947      2    1
2  22.00  1947      3    1
3  22.00  1947      4    1
4  21.95  1947      5    1

## Preprocess Sales Dataset

Check if the dataset has any null or duplicate values.

In [28]:
print("Sales Null Values\n", sales.isnull().sum())
print("\nSales Duplicate Values\n", sales.duplicated().sum())

Sales Null Values
 Car_id           0
Date             0
Customer Name    1
Gender           0
Annual Income    0
Dealer_Name      0
Company          0
Model            0
Engine           0
Transmission     0
Color            0
Price ($)        0
Dealer_No        0
Body Style       0
Phone            0
Dealer_Region    0
dtype: int64

Sales Duplicate Values
 0

Split 'Date' column into 'Year', 'Month', 'Day' columns and cast these values as well as 'Annual Income', 'Price', 'Phone' into ints.

In [53]:
sales[['Month', 'Day', 'Year']] = sales['Date'].str.split('/', expand=True)
sales.drop(['Date'], axis=1, inplace=True)
sales = sales.rename(columns={'Price ($)': 'Price'})
sales[['Year', 'Month', 'Day', 'Annual Income', 'Price', 'Phone']] = sales[['Year', 'Month', 'Day', 'Annual Income', 'Price', 'Phone']].astype(int)
sales.head()

KeyError: 'Date'

In [58]:
sales['Engine'].unique()

array(['DoubleÂ\xa0Overhead Camshaft', 'Overhead Camshaft'], dtype=object)

Replace typo with correct spelling of term.

In [60]:
sales.replace('DoubleÂ\xa0Overhead Camshaft', 'Double Overhead Camshaft', inplace=True)
sales['Engine'].unique()

array(['Double Overhead Camshaft', 'Overhead Camshaft'], dtype=object)