In [18]:
# Create connection
import mysql.connector

connection = mysql.connector.connect(
    user='root',
    password='password',
    host='localhost',
    database='db'
)

# Make sure connection established
if connection.is_connected():
    print("Connected")
else:
    print("Failed to connect")

Connected

## Queries

#### Roll-Up/Drill Down

Roll up car sales by car make and model.

In [19]:
cursor = connection.cursor()

In [20]:
query = 'SELECT c.company, c.model, SUM(cs.price) AS TotalSales FROM car c JOIN car_sales cs ON c.id = cs.car GROUP BY c.company, c.model;'
cursor.execute(query)
cursor.fetchall()

[('ford', 'expedition', Decimal('4838250')),
 ('dodge', 'durango', Decimal('5878455')),
 ('cadillac', 'eldorado', Decimal('9725407')),
 ('toyota', 'celica', Decimal('4584448')),
 ('acura', 'tl', Decimal('6139019')),
 ('mitsubishi', 'diamante', Decimal('9308151')),
 ('toyota', 'corolla', Decimal('2878632')),
 ('mitsubishi', 'galant', Decimal('3255171')),
 ('chevrolet', 'malibu', Decimal('8885102')),
 ('ford', 'escort', Decimal('980483')),
 ('acura', 'rl', Decimal('8778638')),
 ('nissan', 'pathfinder', Decimal('8792523')),
 ('subaru', 'forester', Decimal('5738743')),
 ('hyundai', 'accent', Decimal('634518')),
 ('toyota', 'landcruiser', Decimal('2349022')),
 ('honda', 'accord', Decimal('6597822')),
 ('toyota', '4runner', Decimal('1695515')),
 ('infiniti', 'i30', Decimal('5717040')),
 ('audi', 'a4', Decimal('2009977')),
 ('volkswagen', 'jetta', Decimal('12287736')),
 ('dodge', 'viper', Decimal('7417262')),
 ('buick', 'regal', Decimal('4760614')),
 ('chrysler', 'lhs', Decimal('9097717')),
 ('mitsubishi', '3000gt', Decimal('6751522')),
 ('honda', 'civic', Decimal('4341362')),
 ('volvo', 's40', Decimal('7783634')),
 ('buick', 'parkavenue', Decimal('8432401')),
 ('mitsubishi', 'monterosport', Decimal('11472231')),
 ('nissan', 'sentra', Decimal('724411')),
 ('volvo', 's80', Decimal('1964670')),
 ('chevrolet', 'lumina', Decimal('4062910')),
 ('pontiac', 'bonneville', Decimal('3878252')),
 ('nissan', 'altima', Decimal('1731472')),
 ('cadillac', 'deville', Decimal('3692324')),
 ('dodge', 'stratus', Decimal('2773322')),
 ('volvo', 'c70', Decimal('6508860')),
 ('toyota', 'tacoma', Decimal('7979237')),
 ('audi', 'a6', Decimal('7456122')),
 ('dodge', 'intrepid', Decimal('1403171')),
 ('toyota', 'sienna', Decimal('3092637')),
 ('mitsubishi', 'eclipse', Decimal('2157122')),
 ('ford', 'contour', Decimal('5119926')),
 ('lincoln', 'towncar', Decimal('3651507')),
 ('ford', 'focus', Decimal('4787388')),
 ('ford', 'mustang', Decimal('4973489')),
 ('oldsmobile', 'cutlass', Decimal('7006512')),
 ('chevrolet', 'corvette', Decimal('7921472')),
 ('chevrolet', 'impala', Decimal('1512371')),
 ('volkswagen', 'cabrio', Decimal('2729737')),
 ('dodge', 'dakota', Decimal('1191416')),
 ('chrysler', '300m', Decimal('5198958')),
 ('oldsmobile', 'bravada', Decimal('4815336')),
 ('nissan', 'maxima', Decimal('3429979')),
 ('chrysler', 'concorde', Decimal('7152658')),
 ('volvo', 'v70', Decimal('1601112')),
 ('nissan', 'quest', Decimal('2262870')),
 ('lexus', 'es300', Decimal('2562876')),
 ('ford', 'explorer', Decimal('7205471')),
 ('chevrolet', 'prizm', Decimal('9386606')),
 ('chevrolet', 'camaro', Decimal('3210281')),
 ('subaru', 'outback', Decimal('5573450')),
 ('ford', 'taurus', Decimal('7040486')),
 ('chevrolet', 'cavalier', Decimal('3437727')),
 ('lexus', 'gs400', Decimal('4105044')),
 ('chevrolet', 'montecarlo', Decimal('3892839')),
 ('hyundai', 'sonata', Decimal('2968834')),
 ('chevrolet', 'metro', Decimal('5345957')),
 ('plymouth', 'voyager', Decimal('5699891')),
 ('chrysler', 'cirrus', Decimal('470908')),
 ('dodge', 'avenger', Decimal('2912975')),
 ('honda', 'odyssey', Decimal('2380320')),
 ('oldsmobile', 'intrigue', Decimal('5590150')),
 ('oldsmobile', 'silhouette', Decimal('12271849')),
 ('lexus', 'ls400', Decimal('14263424')),
 ('oldsmobile', 'aurora', Decimal('5443363')),
 ('plymouth', 'breeze', Decimal('2790178')),
 ('volkswagen', 'beetle', Decimal('4401880')),
 ('hyundai', 'elantra', Decimal('1514614')),
 ('lincoln', 'continental', Decimal('8778073')),
 ('toyota', 'rav4', Decimal('5022338')),
 ('volvo', 's70', Decimal('3669918')),
 ('dodge', 'ramvan', Decimal('5763440')),
 ('pontiac', 'grandam', Decimal('3463286')),
 ('volkswagen', 'passat', Decimal('7663885')),
 ('nissan', 'xterra', Decimal('1738899')),
 ('nissan', 'frontier', Decimal('5283941')),
 ('ford', 'crownvictoria', Decimal('3642165')),
 ('toyota', 'camry', Decimal('4887733')),
 ('lincoln', 'navigator', Decimal('3022682')),
 ('cadillac', 'escalade', Decimal('5158921')),
 ('volkswagen', 'golf', Decimal('2979629')),
 ('ford', 'ranger', Decimal('3784528')),
 ('plymouth', 'prowler', Decimal('5429205')),
 ('ford', 'windstar', Decimal('2865624')),
 ('volkswagen', 'gti', Decimal('4020014')),
 ('honda', 'passport', Decimal('2974523')),
 ('lexus', 'lx470', Decimal('3950222')),
 ('honda', 'cr-v', Decimal('3588708')),
 ('pontiac', 'sunfire', Decimal('7962118')),
 ('dodge', 'caravan', Decimal('3491482')),
 ('dodge', 'ramwagon', Decimal('2198978')),
 ('plymouth', 'neon', Decimal('4223599')),
 ('acura', 'integra', Decimal('2140992')),
 ('pontiac', 'grandprix', Decimal('5652738')),
 ('audi', 'a8', Decimal('1228539')),
 ('cadillac', 'catera', Decimal('5115324')),
 ('cadillac', 'seville', Decimal('3021829')),
 ('buick', 'lesabre', Decimal('822207')),
 ('lexus', 'gs300', Decimal('2135835')),
 ('pontiac', 'firebird', Decimal('2412813')),
 ('volvo', 'v40', Decimal('397006')),
 ('mitsubishi', 'montero', Decimal('946065')),
 ('oldsmobile', 'alero', Decimal('307302')),
 ('mitsubishi', 'mirage', Decimal('172204')),
 ('buick', 'century', Decimal('750263')),
 ('dodge', 'neon', Decimal('439104')),
 ('lexus', 'rx300', Decimal('270302')),
 ('toyota', 'avalon', Decimal('270002'))]

Roll up car sales by year and fiscal quarter.

In [21]:
query = 'CREATE VIEW salesbyfuelincome AS SELECT d.year, d.fiscal_quarter, SUM(cs.price) AS total_price FROM car_sales cs JOIN date d ON cs.date = d.id GROUP BY d.year, d.fiscal_quarter;'
cursor.execute(query)
cursor.fetchall()

[]

#### Slice

Select sales where the CPI value is greater than 120.

In [22]:
query = 'CREATE VIEW salescpi120 AS SELECT cs.*FROM car_sales cs JOIN date d ON cs.date = d.id JOIN cpi c ON d.id = c.date WHERE c.cpi_value > 120;'
cursor.execute(query)
cursor.fetchall()

ProgrammingError: 1050 (42S01): Table 'salescpi120' already exists

#### Dice

Select sales where the city miles per gallon of the car purchased is less than 19 and the income of the customer is less than 60000

In [34]:
cursor.fetchall()
query = '''CREATE VIEW SalesbyMpgIncome AS
SELECT cs.*
FROM car_sales cs
JOIN car c ON cs.car = c.id
JOIN customer cu ON cs.customer = cu.id
WHERE c.city_mpg < 19 AND cu.annual_income < 60000;
'''
cursor.execute(query)

Select sales where the engine fuel type is "regualar unleaded" and customer annual income is > 82000

In [28]:
query = '''
CREATE VIEW salesbyfuelincome AS
SELECT cs.*
FROM car_sales cs
JOIN car c ON cs.car = c.id
JOIN customer cu ON cs.customer = cu.id
WHERE c.engine_fuel_type = 'regular unleaded' AND cu.annual_income > 82000;
'''
cursor.execute(query)

## Combining OLAP Operations

### Slice + Dice + Roll Up

In [ ]:
# Within the past 3 months for Toyota models grouped by month and year
query = "SELECT d.month, d.year, c.company, c.model, SUM(cs.price) AS TotalSales FROM car c JOIN car_sales cs ON c.id = cs.car JOIN date d ON cs.date = d.id WHERE (d.year = 2023 AND d.month >= 10 AND d.month <= 12 AND d.day <= 31) AND c.company = 'Toyota' GROUP BY d.year, d.month, c.model;"

# Within the past year for Toyota models grouped by month and year
query = "SELECT d.month, d.year, c.company, c.model, SUM(cs.price) AS TotalSales FROM car c JOIN car_sales cs ON c.id = cs.car JOIN date d ON cs.date = d.id WHERE d.year = 2023 AND c.company = 'Toyota' GROUP BY d.year, d.month, c.model;"

### Slice + Dice

In [ ]:
# Female
query = "SELECT cst.annual_income, cr.engine_fuel_type FROM customer cst JOIN car_sales cs ON cst.id = cs.customer JOIN car cr ON cs.car = cr.id WHERE cst.gender = 'Female';"

# Male
query = "SELECT cst.annual_income, cr.engine_fuel_type FROM customer cst JOIN car_sales cs ON cst.id = cs.customer JOIN car cr ON cs.car = cr.id WHERE cst.gender = 'Male';"

### Dice + Roll Up

In [ ]:
# Get number of sales for a month for all Toyotas
query = "SELECT d.month, c.company, COUNT(cs.id), AVG(cs.price) AS TotalSales FROM car c JOIN car_sales cs ON c.id = cs.car JOIN date d ON cs.date = d.id WHERE c.company = 'Toyota' GROUP BY d.month, c.company;"

### Drill Down + Slice

In [ ]:
query = "SELECT d.month, d.day, c.company, COUNT(cs.id), AVG(cs.price) AS TotalSales FROM car c JOIN car_sales cs ON c.id = cs.car JOIN date d ON cs.date = d.id WHERE c.company = 'Toyota' GROUP BY d.month, d.day, c.company;"