In [2]:
# Create connection
import mysql.connector

connection = mysql.connector.connect(
    user='root',
    password='password',
    host='localhost',
    database='db'
)

# Make sure connection established
if connection.is_connected():
    print("Connected")
else:
    print("Failed to connect")

Connected

## Queries

#### Roll-Up/Drill Down

Roll up car sales by car make and model.

In [ ]:
query = 'SELECT c.company, c.model, SUM(cs.price) AS TotalSales FROM car c JOIN car_sales cs ON c.id = cs.car GROUP BY c.company, c.model;'

Roll up car sales by year and fiscal quarter.

In [ ]:
query = 'SELECT d.year, d.fiscal_quarter, SUM(cs.price) AS total_price FROM car_sales cs JOIN date d ON cs.date = d.id GROUP BY d.year, d.fiscal_quarter;'

#### Dice

Select car sales where the sale was made when the CPI was greater than 150.

In [ ]:
query = 'SELECT cs.*FROM car_sales cs JOIN date d ON cs.date = d.id JOIN cpi c ON d.id = c.date WHERE c.cpi_value > 120;'

Select the engine fuel type of cars and the annual income of the customers who purchased the cars.

In [ ]:
query = 'SELECT cst.annual_income, cr.engine_fuel_type FROM customer cst JOIN car_sales cs ON cst.id = cs.customer JOIN car cr ON cs.car = cr.id;'

## Combining OLAP Operations

In [ ]:
# Within the past 3 months
query = 'SELECT c.company, c.model, SUM(cs.price) AS TotalSales FROM car c JOIN car_sales cs ON c.id = cs.car JOIN date d ON cs.date = d.id WHERE (d.year = 2023 AND d.month >= 10 AND d.month <= 12 AND d.day <= 31) GROUP BY c.company, c.model;'

# Within the past year
query = 'SELECT c.company, c.model, SUM(cs.price) AS TotalSales FROM car c JOIN car_sales cs ON c.id = cs.car JOIN date d ON cs.date = d.id WHERE d.year = 2023 GROUP BY c.company, c.model;'

In [ ]:
# Female
query = "SELECT cst.annual_income, cr.engine_fuel_type FROM customer cst JOIN car_sales cs ON cst.id = cs.customer JOIN car cr ON cs.car = cr.id WHERE cst.gender = 'Female';"

# Male
query = "SELECT cst.annual_income, cr.engine_fuel_type FROM customer cst JOIN car_sales cs ON cst.id = cs.customer JOIN car cr ON cs.car = cr.id WHERE cst.gender = 'Male';"